jupyter-book==1.0.2
sphinx==7.3.7
myst-nb==1.1.1
jupyterlab==4.2.5
matplotlib==3.10.0
numpy==2.1.2
scipy==1.15.1
tqdm==4.67.1
pandas==2.2.3
torch==2.4.1
scikit-learn==1.5.2
jax==0.4.30
jaxlib==0.4.30
diffrax==0.7.0
control==0.10.2
lvm_read==1.23
docutils<0.22
